<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous"
        />
        <style>
        .persian-red-bg {
            background-color: #CC3B29;
            padding: 50px;
            color: azure;
        }
        .black-bg {
            background-color: black;
            padding: 50px;
            color: azure;
        }
        </style>
        <title>Virus Total APIs</title>
    {% endblock %}
  </head>
  <body>
    
    <header class="black-bg text-white text-center py-3">
        {% block header %}{% endblock %}
        <!-- <h1 class="display-4">Virus Total File Results!</h1> -->
    </header>
    
    <div class="container mb-5" style="margin-top: 1rem;">
        {% block content %} {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
    crossorigin="anonymous">
    </script>
  </body>
</html>
