{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <script type="text/javascript">
    window.onload = function() {
      let rows = document.getElementById('table_id').rows.length
      console.log(rows)
      if(rows === 1){
        setTimeout(function() {
          console.log("Relaoding the page")
          location.reload();
        }, 2000);
      }
    }
  </script>
{% endblock %}
{% block header %}
  <h1 class="display-4">Virus Total File Results!</h1>
{% endblock %}
{% block content %}
<table class="table table-hover table-bordered" id ="table_id">
  <thead class="table persian-red-bg">
      <tr>
          <th>Index</th>
          <th>Hash Value (MD5 or SHA256)</th>
          <th>Fortinet Detection Name</th>
          <th>Number of Enngines Detected</th>
          <th>Scan Date</th>
      </tr>
  </thead>
  {% for i in range(length)%}
  <tr >
      <td>{{ i+1 }}</td>
      <td>{{data[i]['hash_value']}}</td>
      <td>{{data[i]['fortinet_detection_name']}}</td>
      <td>{{data[i]['no_of_engines_detected']}}</td>
      <td>{{data[i]['scan_date']}}</td>
  </tr>
  {% endfor%}
</table>
{% endblock %}