{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <h1 class="display-4">Virus Total API Results!</h1>
{% endblock %}
{% block content %}
<div class="container light-blue-bg text-center mt-5">
  <h2>The given url is invalid! Please go to the index page by clicking the button below and try again! </h2>
  <form action="{{ url_for('index') }}" method="get">
    <input class="btn btn-dark" type="submit" value="Go To Index Page">
  </form>
</div>
{% endblock %}
