{% extends "base.html" %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
  <h1 class="display-4">Virus Total File Results!</h1>
{% endblock %}
{% block content %}
<div class="container mb-5" style="margin-top: 1rem;">
  <form method = "POST" enctype = "multipart/form-data">
      <div class="input-group mb-3 persian-red-bg">
          <input type="file" class="form-control" id="inputGroupFile02" name="input_file">
          <!-- <label class="input-group-text" for="inputGroupFile02">Submit</label> -->
          <input class="btn btn-dark" type="submit"/>
      </div>
  </form>
</div>
<div class="container light-blue-bg text-center mt-5">
<h2>Some Recently Processes Files</h2>
<table class="table table-bordered" id ="table_id">
  <thead class="table persian-red-bg">
      <tr>
          <th>Index</th>
          <th>File Id</th>
      </tr>
  </thead>
  {% for i in range(length)%}
  <tr >
      <td>{{ i+1 }}</td>
      <!-- <td><a href="/results/"></a>{{ files[i] }} </a></td> -->
      <td><a href="/results/{{ files[i] }}">{{ files[i] }}</a></td>
  </tr>
  {% endfor%}
</table>
</div>
{% endblock %}